.contact {
    display: none;
  @extend %list;

  // display: flex;
  margin-left: auto;
  gap: 50px;
  
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact__link {
  @extend %link;
  
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-color;
  fill: $primary-color;

  transition: color $animation-duration $animation-function,
    fill $animation-duration $animation-function;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.contact__icon {
  margin-right: 10px;
}
