.contact {
  @extend %list;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;

    margin-bottom: 64px;
    
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: auto;
    gap: 50px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.contact__link {
  @extend %link;

  color: $primary-color;
  fill: $primary-color;

  transition: color $animation-duration $animation-function,
    fill $animation-duration $animation-function;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }

  @media screen and (max-width: 767px) {
    &--mail {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.02em;

      color: #757575;
    }

    &--tel {
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
      /* identical to box height */

      letter-spacing: 0.02em;

      color: #2196f3;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__icon {
  display: none;
  margin-right: 10px;

  @media screen and (min-width: $tablet) {
    display: block;
  }
}
